.shopping_cart {
  min-width: 800px;
  width: 1000px;
  margin-inline: auto;

  border: 1px solid var(--platinum);
  border-radius: var(--radius-10);
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: var(--black);
  font-size: 20px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e1e8ee;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;

  .delete_btn,
  .like_btn {
    cursor: pointer;
    color: #5e6977;
    &:hover {
      color: var(--portland-orange);
    }
  }
}

.image {
  img {
    width: 150px;
    height: 150px;
  }
}
.description {
  width: 200px;
  .name {
    font-size: 20px;
  }
  span {
    display: block;
    font-size: 14px;
    color: #43484d;
    font-weight: 400;
    margin-top: 5px;
  }
}

.quantity {
  display: flex;
  align-items: center;
  gap: 5px;

  .counter {
    width: 32px;
    font-size: 20px;
    color: var(--black);
    font-weight: 300;
    text-align: center;
  }
}

.plus,
.minus {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  color: #43484d;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.total {
  width: 100px;
  text-align: right;
  font-size: 20px;
  color: var(--black);
  font-weight: 300;
}

.check {
  padding: 20px 30px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  font-size: 20px;
  &_text {
    text-align: right;
  }
}

.buttons {
  padding: 0 30px 20px;
  display: flex;
  justify-content: space-between;
}

.btn_actions {
  font-size: 18px;

  transition: var(--transition-1);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--platinum);

  &:hover {
    background-color: var(--portland-orange);
    color: var(--white);
  }
}

// CartEmpty

.cart_empty {
  margin: 0 auto;
  text-align: center;
}

.cart_empty_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  img {
    margin-block: 20px;

    width: 250px;
    height: 250px;
  }

  button {
    background-color: var(--black);
    color: var(--white);
    max-width: max-content;
    padding: 8px 25px;
    font-weight: var(--fw-700);
    border-radius: 50px;
    transition: var(--transition-1);

    &:hover {
      background-color: var(--portland-orange);
    }
  }
}
