.category {
    font-weight: 800;
    margin: 60px 0px;
    text-align: center;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-out;
        overflow: hidden;

        &:hover {
            img {
                transform: scale(1.1);
            }

            a {
                color: var(--bright-yellow-crayola);
                transition: 0.5s ease-in-out;
            }
        }

        img {
            height: 250px;
            width: 250px;
            align-self: center;
            transition: transform 0.5s ease-in-out;
        }
    }
}

.list {
    margin: 30px 0;
}
