.header {
  width: 100%;
  color: white;
  transition: top 0.5s ease;

  background-color: rgba(249, 148, 42, 1);

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;

    box-shadow: var(--shadow-1);

    background-color: white;
    color: var(--black);

    svg {
      color: var(--black);
    }
  }
}

.container {
  padding-inline: 40px;
  padding-block: 20px;

  display: flex;
  gap: 40px;
  justify-content: space-between;

  font-weight: 600;
  align-items: center;
  line-height: 2rem;
}

.logo {
  letter-spacing: 0.2rem;
  font-size: 2.8rem;
  font-family: 'Pacifico', cursive;
  &:hover {
    color: var(--portland-orange);
    transition: 0.3s ease;
  }
}

.navbar {
  margin-inline-end: auto;

  ul {
    display: flex;
    gap: 20px;

    li {
      padding: 10px 15px;
      a:hover {
        color: var(--portland-orange);
        transition: 0.3s ease;
      }
    }
  }
}

.actions {
  display: flex;
  gap: 20px;

  svg {
    color: var(--white);
    &:hover {
      color: var(--portland-orange);
      transition: 0.3s ease;
      transform: scale(1.1);
    }
  }
}
