.footer {
  background-image: url('/footer/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  color: white;
  margin-top: 60px;

  position: relative;
}
.container {
  position: absolute;
  top: 60px;
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;

  width: 100%;
  padding-inline: 40px;
}

.brand {
  font-size: 60px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
  padding-left: 2px;
}

.title {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 800;
}

.link {
  color: var(--portland-orange);
}

.links {
  display: flex;
  gap: 5px;
}

.feedback {
  display: flex;
  gap: 20px;
  justify-content: center;
  input {
    border-radius: 5px solid;
    height: 30px;
  }
}
